section {
    top: 770px;
    position: absolute;
    left: 5%;
    font-size: 18px;
}

form {
	font-size:  20px;
	color:  #000000;
}

p {
	font-size:  24px;
	font-color:  #FFFFFF;
}

a {
	font-color:  #FFFFFF;
}

#banner {
    top: 110px;
    left: 30%;
    max-width: 925px;
}


footer {
    top: 1450px !important;
}