section {
    top: 770px;
    position: absolute;
    left: 5%;
}

#banner {
    top: 110px;
    left: 30%;
    max-width: 925px;
}


h2 {
	color:  #FFFFFF !important;
}


p {
	color:  #FFFFFF;
}

img {
	box-sizing:  border-box;
}

img {
  padding:  0px;
  -moz-border-radius:  100px;
  -ms-border-radius:  100px;
  -webkit-border-radius:  100px;
  -o-border-radius:  100px;
  border-radius: 100px;
  
}



footer {
    top: 1900px !important;
}