* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: darkslategray !important;
    /*    background-image: url(../imgs/free-code-image.jpg);*/
    background-size: 100% 941px;
    background-repeat: no-repeat;
}

#body-mask {
    position: absolute;
    width: 100%;
    height: 844px;
    /*    border: 2px solid red;*/
    background-color: black;
    top: 97px;
    opacity: .7;
}

.jumbotron {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 110px !important;
    background-color: #0e1818!important;
    z-index: 100;
}

#logo {
    position: relative;
    width: 100px;
    height: 100px;
    left: 196px;
    /* border: 2px solid red; */
    bottom: 42px;
}

#banner {
    position: absolute;
    /*    border: 2px solid red;*/
    top: 410px;
    left: 500px;
    z-index: 100;
}

#button-box {
    position: absolute;
    /* display: block; */
    width: 485px;
    height: 81px;
/*    border: 2px solid red;*/
    top: 650px;
    left: 38%;
    z-index: 100;
}

.button-one {
    position: absolute;
    width: 200px;
    color: whitesmoke;
    background-color: #0c528a;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.button-two {
    position: absolute;
    width: 200px;
    color: whitesmoke;
    background-color: #673AB7;
    padding: 10px;
    left: 274px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.button-one:hover,
.button-two:hover{
    border: 2px solid darkgreen;
    box-shadow: 0 0 5px 2px darkgreen;
}

#down-arrow {
    position: absolute;
    top: 810px;
    left: 900px;
    width: 132px;
    height: auto;
}

#navigation {
    position: relative;
    left: 607px;
    width: 490px;
    height: 50px;
    /*    border: 2px solid green;*/
    bottom: 108px;
}

li {
    position: relative;
    color: #9E9E9E;
    font-family: fantasy;
    font-size: 2em;
    padding: 30px;
    text-align: center;
}

ol,
li {
    display: inline;
}

h3 {
    text-align: center;
}

img {
    border-radius: 10px;
}

section {
    position: relative;
    display: flex;
    width: 90%;
    min-height: auto;
    /*    background-image: url(../imgs/free-code-image.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    top: 1009px;
}

.row {
    position: relative;
    /*    border: 2px solid red;*/
    width: 90%;
    min-height: auto;
    margin: 10px;
    left: 6%;
}

.thumbnail {
    height: 463px;
}

.thumbnail {
    background-color: transparent;
}

footer {
    position: fixed;
    width: 100%;
    min-height: 16px;
    top: 941px;
    /* border: 2px solid red; */
    left: 0;
    background-color: #325b46;
}

h6 {
    position: relative;
    top: 3px;
    left: 876px;
    color: whitesmoke !important;
}